.page {
  margin-top: 10vh;
  margin-left: 5vh;
}

#board {
  max-width: 100%;
}

.circl {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 60%;
}

.board-cell {
  font-weight: 400;
  font-size: 4rem;
  background-color: #fff;
  min-height: 7rem;
  max-height: 7rem;
  text-align: center;

  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.select-player-card {
  width: 100%;
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: righ;
}

.center {
  text-align: center;
}

.player-name {
  font-weight: 500;
  font-size: 1.25rem;
}
